.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px groove #00adb5;
  border-radius: 20px;
  height: 80%;
  padding: 30px 50px;
  color: #0f1035;
  gap: 30px;
  list-style: circle;
  flex: 1;
}
.container li {
  color: #393e46;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 800;
}
.container h1 {
  color: #00adb5;
  font-size: 24px;
  font-family: NanumSquareNeoBold;
}
