.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border: 3px groove var(--primary-color);
  border-radius: 20px;
  padding: 30px 30px;
  color: #0f1035;
  gap: 30px;
  list-style: circle;
  flex: 1;
  height: 100%;
}
.container li {
  color: #393e46;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 800;
}
.container h1 {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-family: NanumSquareNeoBold;
}

@media (max-width: 767px) {
}
