.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  border: 0;
  padding: 50px 100px;
  margin: revert;
  position: fixed;
  width: 80%;
  height: 80lvh;
  scrollbar-width: none;
  z-index: 1;
}
.box_container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.container p {
  font-size: 1rem;
}
.container::backdrop {
  opacity: 0.5;
  background: gray;
}
.project {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.box {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  gap: 10px;
  font-size: 1rem;
}
.box h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}
.box h3 {
  display: block;
  font-size: 1.5rem;
  margin: 50px 0;
}
.box li {
  list-style: circle;
}
.box ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.box img {
  width: 400px;
  height: 450px;
  object-fit: contain;
}
.btn {
  right: 20px;
  position: absolute;
}
.stackBoxContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 756px) {
  .container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    border: 0;
    padding: 10px;
    margin: revert;
    position: fixed;
    width: 100%;
    height: 100lvh;
    scrollbar-width: none;
  }
  .container p {
    font-size: 0.75rem;
  }

  .container span {
    font-size: 0.75rem;
  }
  .box h4 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.75rem;
  }
  .box h3 {
    display: block;
    font-size: 1.2rem;
    margin: 50px auto;
  }
  .box a {
    font-size: 0.8rem;
  }
  .box_container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .box ul {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
  }
  .box li {
    list-style: none;
  }
}
