.header {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0px;
  font-size: large;
  font-weight: bold;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
  position: fixed;
  margin: 0 50px;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
}
.container {
  margin: 0 50px;
}
